body{
    background-color: #f1f5f8;
	font-family: Segoe UI;
}

.grocery{
	border: none;
	background-color: #f1f5f8;
	size: 100px;
	width: 100%;
	font-size: 18px;
	padding: 0px 20px;
}

.add{
	width: 80%;
	display: flex;
	margin: 5px 0px;
}

.submit-btn{
	border: none;
	background-color: #6ebef7;
	color: black;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.root {
	display: flex;
	max-width: 500px;
	align-items: center;
	flex-direction: column;
	margin: 100px auto;
	background-color: white;
}

.heading {
	text-align: center;
}

.grocery-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grocery-list {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px;
}

.msg {
	color: brown;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

.btn-container {
	display: flex;
	align-items: center;
}

.edit-btn {
	margin-right: 5px;
	color: green;
}

.delete-btn{
	color: red;
}

.clear-btn{
	border: none;
	color: #e66b6b;
	background-color: white;
	padding: 20px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;	
}

.item-container{
    text-transform: capitalize;
}